<ion-header>
  <ion-toolbar color = "primary" >
    <ion-buttons  slot="end" class="ion-padding">
      <ion-badge [color]="color">{{escuchaActiva}}</ion-badge>
      <ion-icon slot="icon-only" name="power" (click)="escuchar()"></ion-icon>
      <ion-icon slot="icon-only" name="refresh" (click)="actualizar()"></ion-icon>
    </ion-buttons>
    <ion-title>SA - Administración</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ngx-datatable
  [rows]="ejemplares"
  [ngClass]="tableStyle"
  [rowHeight]="'auto'"
  [headerHeight]="50"
  [columnMode]="'force'">

  <ngx-datatable-column name="idEjemplar"></ngx-datatable-column>
  <ngx-datatable-column name="estado"></ngx-datatable-column>
  <ngx-datatable-column name="fechaSolicitud"></ngx-datatable-column>
  <ngx-datatable-column name="fechaEntrega"></ngx-datatable-column>
  <ngx-datatable-column name="localizacionSolicitud"></ngx-datatable-column>
  <ngx-datatable-column name="localizacionEntrega"></ngx-datatable-column>

  <ngx-datatable-column name="Acciones" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-button size="small" fill="outline" (click)="cargarEjemplar(row)">Detalles</ion-button>
    </ng-template>
  </ngx-datatable-column>

  </ngx-datatable
  >


</ion-content>
