<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

  <ion-list>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2><b>Nombre</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nnombre" placeholder = {{nombre}} ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Primer Apellido</b></h2> 
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nap1" placeholder = {{ap1}} ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Segundo Apellido</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nap2" placeholder = {{ap2}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>DNI</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ndni" placeholder = {{dni}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Correo Electrónico</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nemail" placeholder = {{email}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Fecha Nacimiento</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nfnac" placeholder = {{fnac}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Teléfono</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ntfno" placeholder = {{tfno}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Cuenta Bancaria</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ncba" placeholder = {{cba}} ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>País</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "npais" placeholder = {{pais}} ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Provincia</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nprovincia" placeholder = {{provincia}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Localidad</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nlocalidad" placeholder = {{localidad}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Codigo Postal</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ncp" placeholder = {{cp}} ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Dirección</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ndir" placeholder = {{dir}} ></ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand = "full" (click) = "realizarCambios()">
    <ion-icon name="construct"></ion-icon>
    Modificar Perfil
  </ion-button>

  <ion-title [color] = "colorLetra" id="conf"></ion-title> 
  

</ion-content>
