<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="person" (click)="verPerfil()"></ion-icon>
    </ion-buttons>
    <ion-title>Escáner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand = "full" (click) = "scanCode()">
    <ion-icon name = "qr-scanner"></ion-icon>
    Escanear QR
  </ion-button>

  <ion-button  (click) = "clearPantalla()">Clear</ion-button>
  
  <ion-label>
    Estado:
    <ion-chip>
    <ion-label>{{estado}}</ion-label>
    </ion-chip>
    <ion-badge [color]="color">{{metActivo}}</ion-badge>
  </ion-label>

  <p id = "codigoEscaneado"></p>

  <p id = "ejem"></p>

  <ion-label *ngIf="spinner">
    <ion-title>Obteniendo geolocalización<ion-spinner name="crescent"></ion-spinner></ion-title>
  </ion-label>

  <ion-button *ngIf="ocultar" (click) = "entregarEjemplar()" color = "success">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    Entregar
  </ion-button>

  <ion-button *ngIf="ocultar" (click) = "rechazarEjemplar()" color = "danger">
    <ion-icon name="close-circle-outline"></ion-icon>
    Rechazar
  </ion-button>

  <ion-title [color] = "geo" id="entro"></ion-title>
  <ion-title [color] = "colorHora" id="boolHora"></ion-title>

  <ion-title [color] = "colorEnt" id="entregado"></ion-title>

  <ion-title [color] = "colorEnt" id="fin"></ion-title>
  
</ion-content>
