<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Nombre</b></h2>
         <p id = "nombre">{{nombre}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Código QR</b></h2>
         <p id = "nombre">{{QR}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Suscriptor</b></h2>
         <p id = "nombre">{{nombreSuscriptor}} - {{idSuscriptor}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Publicación</b></h2>
         <p id = "nombre">{{nombrePublicacion}} - {{idPublicacion}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Editorial</b></h2>
         <p id = "nombre">{{nombreEditorial}} - {{idEditorial}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
