<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    <ion-title color = "dark" id="nombreI">Ventas de: {{nombre}}</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-card *ngFor="let item of information">
        <ion-card-header>
          <ion-card-title>
            {{item.idArticulo.nombre}}
          </ion-card-title>
          <ion-card-subtitle>{{item.idSuscripcion.idSuscriptor.nombre}}({{item.idSuscripcion.idSuscriptor.idSuscriptor}})</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
