<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="person" (click)="verPerfil()"></ion-icon>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-toolbar>
      <ion-title color = "dark" id="nombreI">¡Bienvenido : {{nombre}}!</ion-title>
    </ion-toolbar>

    <ion-list>
      <ion-card button = "true" type = "button" (click) = "cargarPublicacion(item.idPlan.idPublicacion.idPublicacion)" *ngFor="let item of information">
          <ion-card-header>
            <ion-card-title>
              {{item.idPlan.idPublicacion.nombre}}
            </ion-card-title>
          </ion-card-header>
      </ion-card>
    </ion-list>

</ion-content>
