<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons class="ion-padding" slot="end">
      <ion-icon slot="icon-only" name="stats" (click)="consultarVentas()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-button expand = "full" (click) = "editarPerfil()">
    <ion-icon name="construct"></ion-icon>
    Modificar Perfil
  </ion-button>

  <ion-list>
  
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Nombre</b></h2>
         <p id = "nombre"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Primer Apellido</b></h2>
         <p id = "apellido1"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Segundo Apellido</b></h2>
         <p id = "apellido2"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>DNI</b></h2>
         <p id = "dni"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Correo Electrónico</b></h2>
         <p id = "correo"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Fecha Nacimiento</b></h2>
         <p id = "fechaN"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Teléfono</b></h2>
         <p id = "telefono"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Cuenta Bancaria</b></h2>
         <p id = "cuentaBancaria"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>País</b></h2>
         <p id = "pais"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Provincia</b></h2>
         <p id = "provincia"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Localidad</b></h2>
         <p id = "localidad"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Código Postal</b></h2>
         <p id = "cp"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Dirección</b></h2>
         <p id = "direccion"></p> 
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  
  
</ion-content>
