<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>SA - Suscriptor</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="settings" (click)="presentAlertPrompt()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src='../assets/img/ubu3.jpeg'/>

  <ion-toolbar>
    <ion-title color = "dark">ID</ion-title> 
    <ion-input type="number" placeholder="Introduce el ID" [(ngModel)] = "id"></ion-input>
  </ion-toolbar>

  <ion-toolbar>
      <ion-title color = "dark">Contraseña</ion-title>
      <ion-input type = "password" placeholder="Introduce la contraseña" [(ngModel)] = "pwd"></ion-input>
  </ion-toolbar>

  <ion-spinner *ngIf="ocultar" name="crescent"></ion-spinner>

  <ion-toolbar>
      <ion-title color = "danger" id="err"></ion-title>
  </ion-toolbar>

  <ion-button expand = "full" (click) = "funcAux()">Iniciar Sesión</ion-button>

  
  
  
</ion-content>
