<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombrePublicacion}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-card button = "true" type = "button" (click) = "navegarEjemplar(item.idEjemplar)" *ngFor="let item of inforamtionEjemplares">
        <ion-card-header>
          <ion-card-title>
            {{item.idArticulo.nombre}}
          </ion-card-title>
          <ion-card-subtitle>{{item.estado}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
