<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombreEjemplar}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand = "full" *ngIf="finalizado" (click) = "generarQR()">Generar QR</ion-button>

  <ion-label *ngIf="finalizado">
    Estado:
    <ion-chip>
      <ion-label>{{estado}}</ion-label>
    </ion-chip>
    <ion-badge [color]="color">{{metActivo}}</ion-badge>
    <ion-chip *ngIf=" ocultarCuentaAtras">
      <ion-label>{{cuentaAtras}}</ion-label>
    </ion-chip>
  </ion-label>
  
  <ngx-qrcode id="qr" 
      [qrc-element-type]="elementType" 
      [qrc-value] = "qrData"
      qrc-class = "aclass"
      qrc-errorCorrectionLevel = "L"
      *ngIf="finalizado"
      class="ion-align-self-center">
  </ngx-qrcode>

  <ion-button *ngIf="ocultar" (click) = "confirmarQR()" color = "success">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    Confirmar
  </ion-button>

  <ion-button *ngIf="ocultar" (click) = "rechazarQR()" color = "danger">
    <ion-icon name="close-circle-outline"></ion-icon>
    Rechazar
  </ion-button>

  <img  *ngIf="finalizadoBtn" src='../assets/img/error2.png'/>

  <ion-title [color] = "colorito" id="entregado">{{texto1}}</ion-title>
  <ion-title [color] = "colorito" id="noEntregado">{{texto2}}</ion-title>

  <ion-label class = "ion-text-wrap">
    <ion-title color = "danger" *ngIf="finalizadoBtn">Por favor, regrese para </ion-title>
    <ion-title color = "danger" *ngIf="finalizadoBtn">volver a intentarlo.</ion-title>
  </ion-label>
  
  
</ion-content>
