<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!--
  <ion-toolbar>
    <ion-title>Nombre</ion-title> 
    <ion-input [(ngModel)] = "nnombre" placeholder = {{nombre}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Primer Apellido</ion-title> 
    <ion-input [(ngModel)] = "nap1" placeholder = {{ap1}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Segundo Apellido</ion-title> 
    <ion-input [(ngModel)] = "nap2" placeholder = {{ap2}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>DNI</ion-title> 
    <ion-input [(ngModel)] = "ndni" placeholder = {{dni}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Email</ion-title> 
    <ion-input [(ngModel)] = "nemail" placeholder = {{email}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Fecha Nacimiento</ion-title> 
    <ion-input [(ngModel)] = "nfnac" placeholder = {{fnac}} ></ion-input>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Telefono</ion-title> 
    <ion-input [(ngModel)] = "ntfno" placeholder = {{tfno}} ></ion-input>
  </ion-toolbar>
  -->

  <ion-list>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2><b>Nombre</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nnombre" placeholder = {{nombre}} ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Primer Apellido</b></h2> 
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nap1" placeholder = {{ap1}} ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Segundo Apellido</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nap2" placeholder = {{ap2}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>DNI</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ndni" placeholder = {{dni}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Correo Electrónico</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nemail" placeholder = {{email}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Fecha Nacimiento</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "nfnac" placeholder = {{fnac}} ></ion-input> 
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         <h2><b>Teléfono</b></h2>
        </ion-text>
      </ion-label>
      <ion-input [(ngModel)] = "ntfno" placeholder = {{tfno}} ></ion-input> 
    </ion-item>
  </ion-list>

  <ion-button expand = "full" (click) = "realizarCambios()">
    <ion-icon name="construct"></ion-icon>
    Modificar Perfil
  </ion-button>

  <ion-title [color] = "colorLetra" id="conf"></ion-title> 

</ion-content>
